@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}

@font-face {
    font-family: 'Oswald';
    src: url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
}


$font-primary: 'Roboto';
$font-secondary: 'Oswald';

$font-headers : $font-secondary;

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headers;
}